= api_form_for @mark_invoice_as_refunded, :url => invoice_path(:mark_invoice_as_refunded) do |f|
  .row
    .span5
      %legend Mark invoice as refunded request
      = f.input :invoiceID
      = f.fields_for :refundDetail do |ref|
        = ref.input :note
        = ref.input :date

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @mark_invoice_as_refunded_response
  = render 'api_response', :request => @mark_invoice_as_refunded, :response => @mark_invoice_as_refunded_response
