= api_form_for @mark_invoice_as_paid, :url => invoice_path(:mark_invoice_as_paid) do |f|
  .row
    .span5
      %legend Mark invoice as paid request
      = f.input :invoiceID
      = f.fields_for :payment do |p|
        = p.input :method
        = p.input :note
        = p.input :date

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @mark_invoice_as_paid_response
  = render 'api_response', :request => @mark_invoice_as_paid, :response => @mark_invoice_as_paid_response
