= api_form_for @update_invoice, :url => invoice_path(:update_invoice) do |f|

  .row
    .span5
      %legend Update invoice request
      = f.input :invoiceID
      = f.fields_for :invoice do |invoice|
        = invoice.input :merchantEmail
        = invoice.input :payerEmail
        = invoice.input :currencyCode
        = invoice.input :paymentTerms
    .span5
      %legend Items
      = f.fields_for :invoice do |invoice|
        = invoice.fields_for :itemList do |list|
          = list.fields_for :item do |item|
            = item.input :name
            = item.input :quantity
            = item.input :unitPrice


  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @update_invoice_response
  = render 'api_response', :request => @update_invoice, :response => @update_invoice_response
